#imageGallery li:hover {
    background-color: transparent;
    cursor: pointer;
}

#imageGallery {
    margin-left: 20%;
}

#imageGallery li {
    list-style: none;
    width: 100px;
    float: left;
    margin-left: 20px;
}

#imageGallery::after {
    content: "";
    display: block;
    clear: both;
}

#imageGallery li img {
    width: 100px;
}

#post {
    margin-left: 22%
}