body {
    color: white;
    background: rgb(134, 131, 131);
}

div {
    margin-left: 30%;
}

a {
    text-decoration: none;
    color: rgb(20, 19, 19);
}

a img {
    width: 80px;
    height: 60px;
}

ul {
    padding-left: 0px;
}

li {
    float: left;
    background-color: white;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

img {
    display: block;
    clear: both;
}

p {
    margin: 10px auto;
}